<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsps.assessment.dao.AssessmentMapper">
  <resultMap id="BaseResultMap" type="com.tsps.assessment.entity.Assessment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="assessment_status" jdbcType="INTEGER" property="assessmentStatus" />
    <result column="self_assessment_total_score" jdbcType="INTEGER" property="selfAssessmentTotalScore" />
    <result column="assessment_total_score" jdbcType="INTEGER" property="assessmentTotalScore" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, assessment_status, self_assessment_total_score, assessment_total_score, 
    create_time
  </sql>

  <insert id="insertAssessment" useGeneratedKeys="true" keyProperty="id" parameterType="com.tsps.assessment.entity.Assessment">
    insert into assessment (company_id, assessment_status, self_assessment_total_score, create_time)
    values (#{companyId,jdbcType=INTEGER}, #{assessmentStatus,jdbcType=INTEGER}, #{selfAssessmentTotalScore,jdbcType=INTEGER}, #{createTime,jdbcType=DATE})
  </insert>

  <select id="getPreviousAssessments" parameterType="java.lang.Integer" resultType="com.tsps.assessment.entity.Assessment">
    select
    <include refid="Base_Column_List" />
    from assessment
    where company_id = #{companyId,jdbcType=INTEGER} and assessment_status = 1
    order by create_time desc
  </select>

  <select id="getAssessment" resultType="com.tsps.assessment.entity.Assessment">
    select
    <include refid="Base_Column_List" />
    from assessment
    where company_id = #{companyId,jdbcType=INTEGER} and create_time >= #{firstDay, jdbcType=DATE}
    and create_time &lt;= #{lastDay, jdbcType=DATE}
  </select>

  <update id="updateSelfAssessmentTotalScore">
    update assessment
    set self_assessment_total_score = #{selfTotalScore, jdbcType=INTEGER}
    where id = #{assessmentId, jdbcType=INTEGER}
  </update>

  <select id="getAssessmentNumber" resultType="java.lang.Integer">
    select count(id)
    from assessment
    where company_id = #{companyId,jdbcType=INTEGER} and assessment_status = 1
  </select>

  <select id="getAssessments" resultType="com.tsps.assessment.entity.Assessment">
    select
    <include refid="Base_Column_List" />
    from assessment
    where assessment_status = 0
  </select>

  <update id="updateAssessmentTotalScore">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update assessment
      set assessment_total_score = #{item.assessmentTotalScore,jdbcType=INTEGER},assessment_status = #{item.assessmentStatus,jdbcType=INTEGER}
      where id = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>

  <select id="getUnAssessmentTotalNumber" resultType="java.lang.Integer" parameterType="com.tsps.assessment.dto.ListUnAssessmentDTO">
    select count(assessment.id)
    from assessment left join company_information on (assessment.company_id = company_information.id)
    where assessment_status = 0
    <if test="companyFullName != '' and companyFullName != null">
      and company_full_name like concat(concat('%',#{companyFullName}),'%')
    </if>
  </select>

  <select id="listUnAssessment" resultType="com.tsps.assessment.vo.UnAssessmentVO" parameterType="com.tsps.assessment.dto.ListUnAssessmentDTO">
    select assessment.id,assessment_status, self_assessment_total_score,assessment.create_time,company_full_name
    from assessment left join company_information on (assessment.company_id = company_information.id)
    where assessment_status = 0
    <if test="companyFullName != '' and companyFullName != null">
     and company_full_name like concat(concat('%',#{companyFullName}),'%')
    </if>
    order by create_time asc
    limit #{beginIndex},#{pageSize}
  </select>

  <select id="selectById" resultType="com.tsps.assessment.entity.Assessment">
    select
    <include refid="Base_Column_List" />
    from assessment
    where id = #{id}
  </select>

  <update id="updateAssessment" parameterType="com.tsps.assessment.entity.Assessment">
     update assessment
     set assessment_total_score = #{assessmentTotalScore,jdbcType=INTEGER},assessment_status = #{assessmentStatus,jdbcType=INTEGER}
     where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>